.regPage {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    position: relative;
}

.headForm {
    width: 100%;
    height: 65px;
    background: rgba(217,217,217,0.27);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

p.registration {
    color: rgba(0,0,0,1);
    position: absolute;
    font-family: JetBrains Mono, serif;
    font-weight: Bold;
    font-size: 38px;
    margin-top: 5px;
    padding-left: 800px;
}

.regForm {
    width: 650px;
    height: 550px;
    background: rgba(217,217,217,0.5);
    position: absolute;
    top: 140px;
    left: 580px;
    border: 1px solid rgba(0,0,0,0.8);
}

input {
    position: absolute;
    color: rgba(0,0,0,0.5);
    background: rgba(255,255,255,1);
    font-family: JetBrains Mono, serif;
    font-size: 25pt;
    font-weight: Normal;
    height: 80px;
    width: 550px;
    border: 2px solid rgba(0,0,0,0.5);
    margin-left: 50px;
    margin-right: 50px;
}

input.login {
    margin-top: 50px;
}

input.password {
    margin-top: 170px;
}

input.email {
    margin-top: 290px;
}

button {
    position: absolute;
    background: rgba(255,255,255,1);;
    font-family: JetBrains Mono, serif;
    font-size: 25pt;
    font-weight: Normal;
    border: 2px solid rgba(0,0,0,1);
    height: 80px;
    width: 560px;
    border-radius: 6px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 400px;
}

span {
    color: red;
    position: absolute;
    font-family: JetBrains Mono, serif;
    font-weight: Normal;
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-left: 550px;
}