<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/authorizationStyle.css" th:href="@{/static/authorizationStyle.css}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>
    <form action="/" method="get" id="form">
        <div class="authForm">
            <p class="authorization">Авторизация</p>

            <p>Логин:</p>
            <label for="login"></label>
            <input type="text" id="login" name="login" placeholder="Login">

            <p>Пароль:</p>
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="Password">

            <br>
            <br>
            <button type="submit" name="login">Вход</button>
            <button type="submit" name="registration" formmethod="get" formaction="/redirectToRegistration">Регистрация</button>
            <br>
            <br>
        </div>
    </form>
</body>
</html>