<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="/static/phonebookStyle.css" th:href="@{/static/phonebookStyle.css}" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet" />
        <meta charset="UTF-8">
        <title>Phonebook</title>
    </head>
    <body>
    <form action="/phonebook" method="POST" id="form">
        <div class="phonebookPage">
            <div class="headForm">
                <p class="phonebook">Телефонный справочник</p>
            </div>
            <button class="settings" type="submit" name="settings" formmethod="get" formaction="/redirectToSettings">Настройки</button>
            <button class="add" type="submit" name="add" formmethod="get" formaction="/redirectToAdd">Добавить</button>

            <table>
                <tr>
                    <th>ФИО</th>
                    <th>Номер</th>
                    <th>Адрес</th>
                    <th>Email</th>
                    <th>-</th>
                </tr>
                <tr th:each="contacts : ${contactsList}">
                    <td th:text="${contacts.getLastName() + contacts.getName()}">ФИО</td>
                    <td th:text="${contacts.getPhoneNumber()}">Номер</td>
                    <td th:text="${contacts.getCity() + contacts.getStreet()}">Адрес</td>
                    <td th:text="${contacts.getEmail()}">Email</td>
                    <td class="tdbutton">
                        <button class="change" type="submit" name="change" formmethod="get" formaction="/redirectToChange">Изменить</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    </body>
</html>