<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="/static/phonebookStyle.css" th:href="@{/static/phonebookStyle.css}" type="text/css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Phonebook</title>
    </head>
    <body>
    <form action="/phonebook" method="POST" id="form">
        <div class="phonebookForm">
            <p class="phonebook">Телефонный справочник</p>

            <button class="settings" type="submit" name="settings" formmethod="get" formaction="/redirectToSettings">Настройки</button>
            <button class="add" type="submit" name="add" formmethod="get" formaction="/redirectToAdd">Добавить</button>

            <table>
                <tr>
                    <th>ФИО</th>
                    <th>Номер</th>
                    <th>Адрес</th>
                    <th>Email</th>
                    <th>-</th>
                </tr>
            </table>


            <button class="change" type="submit" name="change" formmethod="get" formaction="/redirectToChange">Изменить</button>

        </div>
    </form>
    </body>
</html>