<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="/static/registrationStyle.css" th:href="@{/static/registrationStyle.css}" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet" />
        <meta charset="UTF-8">
        <title>Registration</title>
    </head>
    <body>
        <form action="/registration" method="POST" id="form">
            <div class="regPage">
                <div class="headForm">
                    <p class="registration">Регистрация</p>
                </div>
                <span th:if="${error}" th:text="${error}">Error</span>
                <div class="regForm">
                    <label for="login"></label>
                    <input class="login" type="text" id="login" name="login" placeholder="Придумайте логин">

                    <label for="password"></label>
                    <input class="password" type="password" id="password" name="password" placeholder="Придумайте пароль">

                    <label for="email"></label>
                    <input class="email" type="email" id="email" name="email" placeholder="Введите email">

                    <br>
                    <br>
                    <button type="submit" name="registration">Зарегистрироваться</button>
                    <br>
                    <br>
                </div>
            </div>
        </form>
    </body>
</html>