<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/settingsStyle.css" th:href="@{/static/settingsStyle.css}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<form action="/settings" method="POST" id="form">
    <div class="settingsPage">
        <div class="headForm">
            <p class="settings">Настройки аккаунта</p>
        </div>
        <span th:if="${error}" th:text="${error}">Error</span>
        <div class="settingsForm">
            <p class="login">Логин:</p>
            <label for="login"></label>
            <input class="login" type="text" id="login" name="login" th:value="${login}">

            <p class="password">Пароль:</p>
            <label for="password"></label>
            <input class="password" type="text" id="password" name="password" th:value="${password}">

            <p class="email">Email:</p>
            <label for="email"></label>
            <input class="email" type="email" id="email" name="email" th:value="${email}">

            <br>
            <br>
            <button type="submit" name="set">Применить</button>
            <br>
            <br>
        </div>
    </div>
</form>
</body>
</html>